* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
section{
  margin-top: 2rem;
}
.container {
  width: 1100px;
  margin: 5rem auto;
}

.headcontaier {
  display: flex;
  justify-content: space-between;
}

.sayam {
  width: 100px;
  height: 100px;
}
.sayam img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 80% 0%;  
}
.career {
  margin-top: 2rem;
}
.status {
  margin-top: 2rem;
}
table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px
}
table th, td{
    border: 1px solid black;
    padding: 1rem;
   
}
.skills{
  display: flex;
 margin-top: 10px;
}
.skillname{
  flex: 1;
}
.skillclone{
  flex: 1;
}
.skillvalue{
  flex: 1;
}
.experience p{
  margin-top: 10px;
}
.projects{
  margin-top: 2rem;
}
.projects p{
  margin-top: 1rem;
  margin-left: 2rem;
}
.fristlist{
  margin-left: 5rem;
  margin-top: 10px;
  font-weight: bold ;
}
.secondlist{
  margin-left: 7rem;
  margin-top: 10px;
}
.personalinformation{
  margin-top: 2rem;
}
.information{
  display: flex;
  align-items: center;
  justify-content: center;
}